@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
/*
-- Temporary Colours --
Dark Mode (duh)
    bg: #191c20
    button:
        unselected: #354863
        selected: #9dbef2
    accents: #a5c8ff
    text:
        dark: #d0e1ff
        light: #002f59


*/


html, body {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    font-family: "Caveat Brush", cursive;
    font-size: 16px;
}

body {
    box-sizing: border-box;
    background-color: #111318;
}

.header {
    width: 100%;
    height: 80px;

    box-sizing: border-box;
    padding: 40px 16px;

    background: #191c20;

    display: flex;
    align-items: center;
}

.left {
    height: 100%;

    display: flex;
    flex: 1;

    align-items: center;
}

.left a{
    height: 100%;

    display: flex;
    flex-direction: row;
    gap: 16px;

    align-items: center;
    text-decoration: none;
}

.pfp-container{
    display: flex;
    flex: 1 1 auto;

    box-sizing: border-box;
    width: 48px;
    height: 48px;

    border-radius: 24px;
    background: #a5c8ff;
}

.pfp-container img {
    display: flex;
    flex: 1;
    border-radius: 24px;
}

.home {
    font-size: 3em;
    color: #a5c8ff;

    align-items: center;
}

.nav ul{
    display: flex;
    flex-direction: row;
    gap: 16px;

    padding: 0;
    margin: 0;

    list-style: none;
}

.nav ul a {
    text-decoration: none;
    font-size: 1.5em;
    color: #a5c8ff;
}

.notice {
    display: flex;
    flex: 1 1 auto;
    height: calc(100vh - 80px);

    align-items: center;
    justify-content: center;

    color: #a5c8ff;

    font-size: 100px;
}
